<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapperInterface.MenuMapper" >

<select id="queryNextMenuId" resultType="int">
    select max(menuid)+1 from layuimenu where `level`=1

</select>

    <select id="queryNextMenuIdByFatherId" parameterType="String" resultType="int">
        select MAX(menuid)+1 from layuimenu where fatherMenuId =#{fatherid}
    </select>

</mapper>