<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>js+css3圆环图标菜单展开收缩特效</title>

<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="main">
	<div class="menu">
		<img src="svg/c.svg" class="menu__base">
		<img src="svg/s.svg" class="menu__base">
		<img src="svg/l.svg" class="menu__trigger" id="btn">
		<img src="svg/p.svg" class="menu__item menu__item--0">
		<img src="svg/f.svg" class="menu__item menu__item--1">
		<img src="svg/fx.svg" class="menu__item menu__item--2">
	</div>
</div>

<script src="js/script.js"></script>

</body>
</html>